.card img{
    align-self: center;
}

.desc{
    overflow: scroll;
    margin: 5px;
}
body{
    background-color: #B0CE88;
}

@media (min-width: 993px) {
    .card img{
        width: 80%;
    }
    .card{
        height: 80vh;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .card img{
        width: 50%;
    }
    .card{
        height: 70vh;
    }
}


@media screen and (min-width: 577px) and (max-width: 767px) {
    .card img{
        width: 70%;
    }
    .card{
        height: 75vh;
    }
}



@media (max-width: 576px) {
    .card img{
        width: 50%;
    }
    .card{
        height: 68vh;
    }
}
.fa-solid:hover{
    color:red;
}