.form{
    background-color: #ffffff34;
    backdrop-filter: blur(1px);
     /* border:2px solid black; */
     padding:4%;
     border-radius: 20px;
     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.718);
}
img h6:active{
    color:white;
}
.gif{
    margin-left: 46%;
    margin-bottom: -10px;
    z-index: 5;
}
.row{
    z-index: 1;
}
body {
    background: linear-gradient(#B0CE88, #043915);
    /* height: 100vh; */
}
/* .gif{
    width: 20%;
} */

@media (min-width: 993px) {
    .gif img{
        width: 7vw;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .gif img{
        width: 12vw;
    }
}

@media (max-width: 576px) {
    .gif img{
        width: 20vw;
    }
}